.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 141, 159);
    color: #fff;
}

.footer span {
    font-weight: bold;
    /* color: xxx; */
}